@import 'css-flip';

@font-face {
    font-family: "DINWebBold";
    src: url("../fonts/DINWeb-CondBold.woff") format("woff");
}

* {
   box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f5f3f0;
    background: url("../img/light-grunge-texture-50.png") 0 0 repeat, #dee1e2;
    font-family: DINWebBold, Helvetica, Arial;
}

header {
    position: fixed;
    display: flex; 
    z-index: 10;
    align-items: baseline;
    min-height: 50px;
    width: 100%;
    background: url('../img/light-grunge-texture-50.png') #dee1e2;
    box-shadow: 0 2px 24px rgba(0, 0, 28, 0.6);
    .header__logo {
        position: relative;
        top: 2px;
        width: 50%;
        height: 35px;
        background: transparent url("../img/navbar-logo-small.png") center center no-repeat;
        @media screen and (min-width: 480px) {
            top: 0;
            left: 30px;
            background: transparent url("../img/navbar-logo-medium.png") left center no-repeat;
            height: 75px;
            width: 180px;
        }
    }
    .header__title {
        font-family: DinWebBold, impact;
        color: #208fa0;
        text-transform: uppercase;
        font-size: 1.4em;
        margin-bottom: 10px;
        position: relative;
        top: -4px;
        text-align: center;
        @media screen and (min-width: 480px) {
            top: -16px;
        }
    }
}

footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    padding: .5em;
    font-size: 1.1em;
    text-align: center;
    font-family: DINBold, Helvetica, Arial;
    text-shadow: 2px 2px #000;
    background-image: url("../img/scanline-pattern.png"), url("../img/dark-grunge-texture.png"), linear-gradient( #0091b3 0%, #000813 100%);    
    .footer__instructions-label {
        color: #208fa0;
        text-shadow: 2px 2px #000;
    }    
    @media screen and (min-width: 480px) {
        padding: 1em 2em;
        font-size: 1.3em;
    }
}

section {
    padding: .5em;
    text-align: center;
    &.cards-wrapper {
        padding-top: 80px;
        height: 100%;
        width: 100%;
        @media screen and (min-width: 480px) {
            padding-top: 120px;
        }
        margin-bottom: 120px;
    }   
    
    &.lower-section {
        margin-bottom: 80px;
        padding: 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        .lower-section__scroll-indicator {            
            opacity: 0;
            transition: .5s opacity;
            -webkit-transition: .5s opacity;
            -moz-transition: .5s opacity;
            -ms-transition: .5s opacity;
            -o-transition: .5s opacity;
            background-color: rgba(0,0,0,0.8);
            color: #fff;
            margin: 0;
            padding: .3em;            
            display: flex;
            align-items: center;
            img {
                width: 30px;
                height: 30px;
                position: relative;                
                filter: invert(100%);
                flex: 0 1 auto;
            }
            .label {
                flex: 1 1 100%;
                text-align: center;
            }
        }
        .lower-section__reset-deck-button {
            display: none;
            opacity: 0;
            transition: .5s opacity;
            -webkit-transition: .5s opacity;
            -moz-transition: .5s opacity;
            -ms-transition: .5s opacity;
            -o-transition: .5s opacity;
            position: relative;            
            margin: 0 auto 10px auto;
            padding: 14px;
            vertical-align: middle;
            text-align: center;
            width: 200px;
            height: 50px;
            color: #fff;
            font-size: 1.3em;
            border-radius: 3px;
            text-shadow: 2px 2px 4px rgba(0, 0, 28, 0.6);
            box-shadow: 2px 2px 4px rgba(0, 0, 28, 0.6);
            background-image: linear-gradient( rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient( #14e7f5, #02679d);
            background-color: #89c8e0;
            &:hover {
                cursor: pointer;
                background-image: linear-gradient( rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient( #33f2ff, #0082c8)
            }            
            &.visible {
                display: block;
            }

        }
        @media screen and (max-height: 500px) {                
                text-align: right;
                .lower-section__reset-deck-button {
                    &.visible {
                        display: inline-block;
                    }                    
                    margin: 0;
                }
            }
    }   
    @media screen and (min-width: 480px) {
        padding: 2em;
    }
}
.card-container {
    display: inline-block;
    width: 100px;
    height: 148px;
    margin: 5px;
    top: 0;
    .card {
        width: 100px;
        height: 148px;
        display: inline-block;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 28, 0.6);        
        -webkit-transition: .2s all;
        -moz-transition: .2s all;
        -ms-transitin: .2s all;
        -o-transition: .2s all;
        transition: .2s all;
        &.back {
            background: transparent url("../img/cardback-small.png") left top no-repeat;
        }
        &.front {
            background: #fefff5;
        }
        .card-value {
            position: absolute;
            width: 30px;
            height: 20px;
            font-size: 20px;
            text-align: left;
            backface-visibility: hidden;
            &.left {
                top: 10px;
                left: 10px;
            }
            &.right {
                bottom: 10px;
                right: 10px;                                
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            &.center {
                width: 70px;
                height: 50px;
                left: 50%;
                top: 50%;
                text-align: center;
                margin-left: -35px;
                margin-top: -30px;
                font-size: 50px;
            }
        }
    }
    &:hover {
        cursor: pointer;
        .card.front.unflipped {
            /* add hover effect for wide desktop screen users only */
            @media screen and (min-width: 1500px) {
                color: red;
                width: 206px;
                height: 302px;
                top: -3px;
                margin-left: -3px;
                margin-bottom: -3px;
                box-shadow: 0 4px 8px rgba(0, 0, 28, 0.6);
            }
        }
    }
    /* for small monitors */
    @media screen and (min-width: 960px) and (min-height: 700px) {
        width: 160px;
        height: 232px;
        margin: 10px;
        .card {
            width: 150px;
            height: 222px;
            border-radius: 17px;
            &.back {
                background: transparent url("../img/cardback-medium.png") left top no-repeat;
            }
        }
    }
    /* for wide monitors */
    @media screen and (min-width: 1500px) {
        width: 220px;
        height: 316px;
        .card {
            width: 200px;
            height: 296px;
            &.back {
                background: transparent url("../img/cardback-large.png") left top no-repeat;
            }
        }
    }
}