/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  -moz-transform-style: preserve-3d; }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

@font-face {
  font-family: "DINWebBold";
  src: url("../fonts/DINWeb-CondBold.woff") format("woff"); }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background-color: #f5f3f0;
  background: url("../img/light-grunge-texture-50.png") 0 0 repeat, #dee1e2;
  font-family: DINWebBold, Helvetica, Arial; }

header {
  position: fixed;
  display: flex;
  z-index: 10;
  align-items: baseline;
  min-height: 50px;
  width: 100%;
  background: url("../img/light-grunge-texture-50.png") #dee1e2;
  box-shadow: 0 2px 24px rgba(0, 0, 28, 0.6); }
  header .header__logo {
    position: relative;
    top: 2px;
    width: 50%;
    height: 35px;
    background: transparent url("../img/navbar-logo-small.png") center center no-repeat; }
    @media screen and (min-width: 480px) {
      header .header__logo {
        top: 0;
        left: 30px;
        background: transparent url("../img/navbar-logo-medium.png") left center no-repeat;
        height: 75px;
        width: 180px; } }
  header .header__title {
    font-family: DinWebBold, impact;
    color: #208fa0;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom: 10px;
    position: relative;
    top: -4px;
    text-align: center; }
    @media screen and (min-width: 480px) {
      header .header__title {
        top: -16px; } }

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: #fff;
  padding: .5em;
  font-size: 1.1em;
  text-align: center;
  font-family: DINBold, Helvetica, Arial;
  text-shadow: 2px 2px #000;
  background-image: url("../img/scanline-pattern.png"), url("../img/dark-grunge-texture.png"), linear-gradient(#0091b3 0%, #000813 100%); }
  footer .footer__instructions-label {
    color: #208fa0;
    text-shadow: 2px 2px #000; }
  @media screen and (min-width: 480px) {
    footer {
      padding: 1em 2em;
      font-size: 1.3em; } }

section {
  padding: .5em;
  text-align: center; }
  section.cards-wrapper {
    padding-top: 80px;
    height: 100%;
    width: 100%;
    margin-bottom: 120px; }
    @media screen and (min-width: 480px) {
      section.cards-wrapper {
        padding-top: 120px; } }
  section.lower-section {
    margin-bottom: 80px;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0; }
    section.lower-section .lower-section__scroll-indicator {
      opacity: 0;
      transition: .5s opacity;
      -webkit-transition: .5s opacity;
      -moz-transition: .5s opacity;
      -ms-transition: .5s opacity;
      -o-transition: .5s opacity;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      margin: 0;
      padding: .3em;
      display: flex;
      align-items: center; }
      section.lower-section .lower-section__scroll-indicator img {
        width: 30px;
        height: 30px;
        position: relative;
        filter: invert(100%);
        flex: 0 1 auto; }
      section.lower-section .lower-section__scroll-indicator .label {
        flex: 1 1 100%;
        text-align: center; }
    section.lower-section .lower-section__reset-deck-button {
      display: none;
      opacity: 0;
      transition: .5s opacity;
      -webkit-transition: .5s opacity;
      -moz-transition: .5s opacity;
      -ms-transition: .5s opacity;
      -o-transition: .5s opacity;
      position: relative;
      margin: 0 auto 10px auto;
      padding: 14px;
      vertical-align: middle;
      text-align: center;
      width: 200px;
      height: 50px;
      color: #fff;
      font-size: 1.3em;
      border-radius: 3px;
      text-shadow: 2px 2px 4px rgba(0, 0, 28, 0.6);
      box-shadow: 2px 2px 4px rgba(0, 0, 28, 0.6);
      background-image: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient(#14e7f5, #02679d);
      background-color: #89c8e0; }
      section.lower-section .lower-section__reset-deck-button:hover {
        cursor: pointer;
        background-image: linear-gradient(rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%), url("../img/dark-grunge-texture-35.png"), linear-gradient(#33f2ff, #0082c8); }
      section.lower-section .lower-section__reset-deck-button.visible {
        display: block; }
    @media screen and (max-height: 500px) {
      section.lower-section {
        text-align: right; }
        section.lower-section .lower-section__reset-deck-button {
          margin: 0; }
          section.lower-section .lower-section__reset-deck-button.visible {
            display: inline-block; } }
  @media screen and (min-width: 480px) {
    section {
      padding: 2em; } }

.card-container {
  display: inline-block;
  width: 100px;
  height: 148px;
  margin: 5px;
  top: 0;
  /* for small monitors */
  /* for wide monitors */ }
  .card-container .card {
    width: 100px;
    height: 148px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 28, 0.6);
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transitin: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
    .card-container .card.back {
      background: transparent url("../img/cardback-small.png") left top no-repeat; }
    .card-container .card.front {
      background: #fefff5; }
    .card-container .card .card-value {
      position: absolute;
      width: 30px;
      height: 20px;
      font-size: 20px;
      text-align: left;
      backface-visibility: hidden; }
      .card-container .card .card-value.left {
        top: 10px;
        left: 10px; }
      .card-container .card .card-value.right {
        bottom: 10px;
        right: 10px;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
      .card-container .card .card-value.center {
        width: 70px;
        height: 50px;
        left: 50%;
        top: 50%;
        text-align: center;
        margin-left: -35px;
        margin-top: -30px;
        font-size: 50px; }
  .card-container:hover {
    cursor: pointer; }
    .card-container:hover .card.front.unflipped {
      /* add hover effect for wide desktop screen users only */ }
      @media screen and (min-width: 1500px) {
        .card-container:hover .card.front.unflipped {
          color: red;
          width: 206px;
          height: 302px;
          top: -3px;
          margin-left: -3px;
          margin-bottom: -3px;
          box-shadow: 0 4px 8px rgba(0, 0, 28, 0.6); } }
  @media screen and (min-width: 960px) and (min-height: 700px) {
    .card-container {
      width: 160px;
      height: 232px;
      margin: 10px; }
      .card-container .card {
        width: 150px;
        height: 222px;
        border-radius: 17px; }
        .card-container .card.back {
          background: transparent url("../img/cardback-medium.png") left top no-repeat; } }
  @media screen and (min-width: 1500px) {
    .card-container {
      width: 220px;
      height: 316px; }
      .card-container .card {
        width: 200px;
        height: 296px; }
        .card-container .card.back {
          background: transparent url("../img/cardback-large.png") left top no-repeat; } }
